
* {
    box-sizing: border-box;
    
}
h1 {
    text-align: center;
    font-size: 50px;    

}


.check {
    
    background-color: cadetblue;
    border: 2px solid black;
    margin: 2.5%;
    position: relative;
    
    
}

.box {
    border: 2px solid black;

    text-align: center;
    width: 100px;
    background-color: indigo;
    margin: 0px ;
    position: absolute;
    top: 0px;
    right: 0px;
}

.content {

    
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px ;
    padding: 12px;
    
}
@media (min-width: 0px) and (max-width: 767px) {
    .col-sm-12 {
        float: left;
        width: 100%;
    }
}

@media ( min-width: 992px ) {
    .col-lg-4 {
        float: left;
        
        width: 33.33%;
    
    }

}

@media ( min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12 {
        float: left;
        
        
    
    }

    .col-md-6 {
        width: 50%;

    }

    .col-md-12 {
        width: 100%;
    }
}


