
* {
    box-sizing: border-box;
    
}
h1 {
    text-align: center;
    font-size: 50px;    

}

.row {
    width: 100%;
}

.container {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}
.check {
    
    background-color: cadetblue;
    border: 2px solid black;
    margin: 2.5%;
    position: relative;
    width: 100%;
    overflow: auto;
}

.box {
    border: 2px solid black;

    text-align: center;
    width: 30%;
    background-color: indigo;
    margin: auto;
    padding: 5px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.content {

    
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px ;
    padding: 12px;
    
}
@media (max-width: 768px) {
    .col-sm-12 {
        float: left;
        width: 100%;
    }
}

@media ( min-width: 992px ) {
    .col-lg-4 {
        float: left;
        
        width: 33.33%;
    
    }

}

@media ( min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12 {
        float: left;
        
        
    
    }

    .col-md-6 {
        width: 50%;

    }

    .col-md-12 {
        width: 100%;
    }
}


